.button-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#changeText {
  opacity: 1;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
}

.hide {
  opacity: 0;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.move-arrow {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.loading-screen {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  background-color: #F6F6F8;
  margin-left: 10vw;
  width: 100%;
  height: 100%;
  -webkit-transform: scaleY(0) skewX(0);
          transform: scaleY(0) skewX(0);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading-screen__logo {
  width: 30%;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  pointer-events: none;
  z-index: 1000;
}

@media only screen and (max-width: 480px) {
  .portfolio-section,
  .personal-section,
  .contact-section,
  .about-section {
    padding-top: 0;
  }
  .loading-screen {
    margin-left: 0;
  }
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-weight: normal;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  background-color: #AD0A0E;
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
}

section {
  padding: 25px;
  margin-left: 10vw;
  height: 100vh;
}

input,
textarea {
  color: #AD0A0E;
  font-size: 3rem;
  width: 100%;
  padding: 12px;
  border: 3px solid #F6F6F8;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: .5rem 0;
  resize: vertical;
  background-color: #F6F6F8;
  font-family: 'Lato', sans-serif !important;
}

label {
  font-size: 3rem;
  color: #F6F6F8;
  font-family: 'Lato', sans-serif !important;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #AD0A0E;
  font-family: 'Lato', sans-serif !important;
  font-size: 3rem;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #AD0A0E;
  font-family: 'Lato', sans-serif !important;
  font-size: 3rem;
}

textarea::-ms-input-placeholder,
input::-ms-input-placeholder {
  color: #AD0A0E;
  font-family: 'Lato', sans-serif !important;
  font-size: 3rem;
}

textarea::placeholder,
input::placeholder {
  color: #AD0A0E;
  font-family: 'Lato', sans-serif !important;
  font-size: 3rem;
}

button[type=submit] {
  min-width: 20%;
  background-color: whitesmoke;
  color: #AD0A0E;
  padding: 12px 20px;
  border: 3px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

button[type=submit]:hover {
  background-color: transparent;
  border: 3px solid whitesmoke;
  color: whitesmoke;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media only screen and (max-width: 480px) {
  html,
  body {
    font-size: 5px;
  }
  label {
    font-size: 3rem;
    color: #F6F6F8;
  }
  section {
    padding: 25px;
    margin-left: 0;
    height: 100vh;
  }
}

.about-section {
  background: #ad0a0e;
  background: linear-gradient(228deg, #ad0a0e 31%, #df0f14 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.about-section__header {
  position: absolute;
  top: 2.5%;
  left: 2.5%;
  font-size: 8rem;
  color: #F6F6F8;
}

.about-section__title-wrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: static;
  width: 100%;
  height: 80%;
}

.about-section__title-wrapper__card {
  background-color: #F6F6F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.about-section__title-wrapper__card__front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #F6F6F8;
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.5rem;
}

.about-section__title-wrapper__card__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 2.5rem;
  position: absolute;
  background-color: #F6F6F8;
  width: 100%;
  height: 100%;
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.about-section__title-wrapper__h2 {
  color: #AD0A0E;
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.about-section__title-wrapper__icon {
  font-size: 12rem;
  color: #AD0A0E;
  margin-bottom: 3rem;
}

.about-section__triangle-background {
  min-width: 100%;
  height: 40%;
  position: absolute;
}

.hover-area {
  height: 50rem;
  width: 20%;
}

.hover-area:hover .about-section__title-wrapper__card {
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
}

@media only screen and (max-width: 480px) {
  .about-section {
    background: #ad0a0e;
    background: linear-gradient(228deg, #ad0a0e 31%, #df0f14 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about-section__mobile-title-tab-background {
    -webkit-clip-path: polygon(0% 20%, 80% 20%, 100% 80%, 0% 80%);
            clip-path: polygon(0% 20%, 80% 20%, 100% 80%, 0% 80%);
    background: #f6f6f8;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #f6f6f8), to(#fff6f7));
    background: linear-gradient(0deg, #f6f6f8 60%, #fff6f7 100%);
    height: 10%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .about-section__header {
    top: 3%;
    left: 2.5%;
    position: absolute;
    font-size: 5rem;
    color: #AD0A0E;
  }
  .about-section__title-wrapper {
    margin-top: 8rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: static;
  }
  .about-section__title-wrapper__icon {
    font-size: 12rem;
    color: #F6F6F8;
    margin-bottom: 2.5rem;
  }
  .about-section__title-wrapper__h2 {
    color: #F6F6F8;
    font-size: 4rem;
    margin-bottom: 7.5rem;
  }
  .about-section__triangle-background {
    display: none;
  }
}

.contact-section {
  background-color: #AD0A0E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact-section__header {
  overflow: initial;
  font-size: 10rem;
  color: #F6F6F8;
}

.contact-section__sub-header {
  color: #F6F6F8;
  font-size: 4rem;
}

.contact-section__submit-btn {
  margin-top: 2rem;
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .contact-section__submit-btn {
    width: 100%;
  }
  .contact-section__header {
    top: 3%;
    left: 2.5%;
    position: absolute;
    font-size: 5rem;
    color: #AD0A0E;
    margin: 0;
  }
  .contact-section__sub-header {
    color: #F6F6F8;
    font-size: 6rem;
    margin: 5rem 0;
  }
  .contact-section__mobile-title-tab-background {
    -webkit-clip-path: polygon(0% 20%, 80% 20%, 100% 80%, 0% 80%);
            clip-path: polygon(0% 20%, 80% 20%, 100% 80%, 0% 80%);
    background: #f6f6f8;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #f6f6f8), to(#fff6f7));
    background: linear-gradient(0deg, #f6f6f8 60%, #fff6f7 100%);
    height: 10%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.landing-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f6f6f8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #f6f6f8), to(#fff6f7));
  background: linear-gradient(0deg, #f6f6f8 60%, #fff6f7 100%);
}

.landing-section__logo {
  width: 600px;
}

.landing-section__header-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-section__header-wrapper__header {
  font-size: 15rem;
  font-weight: bold;
  opacity: 1;
  -webkit-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  text-align: center;
  color: #AD0A0E;
}

.landing-section__sub-header {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 50px;
  color: #AD0A0E;
  text-decoration: underline;
}

.landing-section__scroll-arrow {
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
  color: #DF0F14;
}

@media only screen and (max-width: 480px) {
  .landing-section__logo {
    width: 50rem;
  }
  .landing-section__header-wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 30rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing-section__header-wrapper__header {
    font-size: 10rem;
    font-weight: bold;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    text-align: center;
    color: #AD0A0E;
  }
  .landing-section__scroll-arrow {
    display: none;
  }
}

.mobile-nav-bar {
  display: none;
}

.mobile-nav-toggle {
  display: none;
}

.nav-bar {
  height: 100vh;
  width: 10vw;
  position: fixed;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  pointer-events: all;
  background-color: #F6F6F8;
}

.nav-bar__logo {
  position: absolute;
  top: 2rem;
  width: 140px;
  margin-left: 2.5%;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

.nav-bar__current-arrow {
  color: #AD0A0E;
  font-size: 3rem;
  position: absolute;
  right: 0;
  margin-right: 10%;
  -webkit-transition: top .5s ease-in-out;
  transition: top .5s ease-in-out;
}

.nav-bar__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

.nav-bar__ul__nav-link {
  width: auto;
  list-style: none;
  margin-right: 50px;
  cursor: pointer;
  position: relative;
  color: #AD0A0E;
  border-top: solid 3px transparent;
  margin-bottom: 10%;
}

.nav-bar__ul__nav-link__a {
  width: 100%;
  height: 100%;
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  color: #AD0A0E;
}

.nav-bar__ul__nav-link__active {
  border-top: 3px solid #AD0A0E;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.nav-bar__ul__nav-link:hover {
  color: #AD0A0E;
}

.nav-bar__ul__nav-link:hover:before {
  visibility: visible;
  background-color: #AD0A0E;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-bar__ul__nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -5px;
  left: 0;
  background-color: #AD0A0E;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

@media only screen and (max-width: 480px) {
  .nav-bar {
    display: none;
  }
  .mobile-nav-bar {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    background-color: #F6F6F8;
  }
  .mobile-nav-bar__logo {
    width: 30rem;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 10rem;
  }
  .mobile-nav-bar__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    text-align: center;
  }
  .mobile-nav-bar__ul__nav-link {
    list-style: none;
    cursor: pointer;
    position: relative;
    color: #AD0A0E;
    border-top: solid 3px transparent;
    padding: 5px;
    margin-bottom: 5rem;
  }
  .mobile-nav-bar__ul__nav-link__a {
    font-size: 7rem;
    text-decoration: none;
    color: #AD0A0E;
  }
  .mobile-nav-bar__ul__nav-link__active {
    border-top: 3px solid #AD0A0E;
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .mobile-nav-bar__ul__nav-link:hover {
    color: black;
  }
  .mobile-nav-bar__ul__nav-link:hover:before {
    visibility: visible;
    background-color: black;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .mobile-nav-bar__ul__nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: #333;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .mobile-nav-toggle {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    left: 50%;
    margin-left: -50px;
    bottom: 0;
    height: 50px;
    width: 100px;
    position: fixed;
    background-color: #AEABB9;
    z-index: 100;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .mobile-nav-toggle__burger-toggle {
    font-size: 8rem;
    color: #AD0A0E;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .mobile-nav-toggle__close-toggle {
    position: absolute;
    font-size: 8rem;
    color: #AD0A0E;
    cursor: pointer;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .hide-icon {
    display: none;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: ease-in 1s;
    transition: ease-in 1s;
  }
  .hide-menu {
    opacity: 0;
    pointer-events: none;
  }
}

.portfolio-section {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.portfolio-section__header {
  font-size: 8rem;
  color: #AD0A0E;
}

.portfolio-section__sub-header {
  overflow: initial;
  color: #AD0A0E;
  font-size: 4rem;
}

@media only screen and (max-width: 480px) {
  .portfolio-section {
    background: #f6f6f8;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #f6f6f8), to(#fff6f7));
    background: linear-gradient(0deg, #f6f6f8 60%, #fff6f7 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio-section__header {
    top: 3%;
    left: 2.5%;
    position: absolute;
    font-size: 5rem;
    color: #F6F6F8;
    margin: 0;
  }
  .portfolio-section__sub-header {
    text-align: center;
    overflow: initial;
    color: #AD0A0E;
    font-size: 5rem;
    margin: 5rem;
  }
  .portfolio-section__mobile-title-tab-background {
    -webkit-clip-path: polygon(0% 20%, 80% 20%, 100% 80%, 0% 80%);
            clip-path: polygon(0% 20%, 80% 20%, 100% 80%, 0% 80%);
    background: #ad0a0e;
    background: linear-gradient(228deg, #ad0a0e 31%, #df0f14 100%);
    height: 10%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  gap: 20px;
      grid-template-areas: "Obj-1 Obj-2" "Obj-3 Obj-4";
  width: 100%;
  height: 70%;
}

.grid-container__text {
  margin-top: 5rem;
  font-size: 3rem;
}

.grid-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 3px solid #AD0A0E;
  padding: 2.5rem;
  font-size: 4rem;
  color: #AD0A0E;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.grid-container div:hover {
  color: #F6F6F8;
  background: #ad0a0e;
  background: linear-gradient(228deg, #ad0a0e 31%, #df0f14 100%);
}

.Obj-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Obj-1;
}

.Obj-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Obj-2;
}

.Obj-3 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Obj-3;
}

.Obj-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: Obj-4;
}

.Obj-5 {
  grid-area: Obj-5;
}

.Obj-6 {
  grid-area: Obj-6;
}
/*# sourceMappingURL=style.css.map */