                *,
                *:before,
                *:after {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                html,
                body {
                    height: 100%;
                    font-weight: normal;
                    font-size: 10px;
                    font-family: 'Lato', sans-serif;
                    background-color: $base-colour-red;
                    overflow: hidden;
                }
                
                .container {
                    height: 100%;
                    width: 100%;
                }
                
                section {
                    padding: 25px;
                    margin-left: 10vw;
                    height: 100vh;
                }
                
                input,
                textarea {
                    color: $base-colour-red;
                    font-size: 2rem;
                    width: 100%;
                    padding: 12px;
                    border: 3px solid $base-colour-white;
                    border-radius: 4px;
                    box-sizing: border-box;
                    margin: .5rem 0;
                    resize: vertical;
                    background-color: $base-colour-white;
                    font-family: 'Lato', sans-serif !important;
                }
                
                label {
                    font-size: 2rem;
                    color: $base-colour-white;
                    font-family: 'Lato', sans-serif !important;
                }
                
                textarea::placeholder,
                input::placeholder {
                    color: $base-colour-grey;
                    font-family: 'Lato', sans-serif !important;
                    font-size: 2rem;
                }
                
                button[type=submit] {
                    min-width: 20%;
                    background-color: whitesmoke;
                    color: $base-colour-red;
                    padding: 12px 20px;
                    border: 3px solid transparent;
                    border-radius: 4px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .5s;
                }
                
                button[type=submit]:hover {
                    background-color: transparent;
                    border: 3px solid whitesmoke;
                    color: whitesmoke;
                    transition: all .5s;
                }
                
                @media only screen and (max-width: 480px) {
                    html,
                    body {
                        font-size: 5px;
                    }
                    label {
                        font-size: 3rem;
                        color: $base-colour-white;
                    }
                    section {
                        padding: 25px;
                        margin-left: 0;
                        height: 100vh;
                    }
                }