$base-colour-red: #AD0A0E;
$base-colour-red-light:#DF0F14;
$base-colour-white:#F6F6F8;
$base-colour-grey: #AEABB9;
//Red Gradient Background
//background: rgb(173, 10, 14);
//background: -moz-linear-gradient(228deg, rgba(173, 10, 14, 1) 31%, rgba(223, 15, 20, 1) 100%);
//background: -webkit-linear-gradient(228deg, rgba(173, 10, 14, 1) 31%, rgba(223, 15, 20, 1) 100%);
//background: linear-gradient(228deg, rgba(173, 10, 14, 1) 31%, rgba(223, 15, 20, 1) 100%);